<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'escala:home' %}">
      Minha Escala
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'cal:calendar' %}">Calendário</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'cal:listar_eventos' %}">Plantões</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'cal:carga_semanal' %}">Carga Semanal</a>
        </li>

        {% if user.perfilusuario.tipo != 'ENFERMEIRO' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cal:event_new' %}">Novo Plantão</a>
        </li>
        {% endif %}

        {% if user.perfilusuario.tipo == 'CHEFE' or user.perfilusuario.tipo == 'ESCALANTE' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConfig" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownConfig">
            <li><a class="dropdown-item" href="{% url 'cal:enfermeiro_list' %}">Profissionais</a></li>
            <li><a class="dropdown-item" href="{% url 'cal:tipoturno_list' %}">Tipos de Turno</a></li>
            <li><a class="dropdown-item" href="{% url 'cal:categoria_list' %}">Categorias Profissionais</a></li>
            <li><a class="dropdown-item" href="{% url 'cal:carga_list' %}">Cargas Horárias</a></li>
          </ul>
        </li>
        {% endif %}

        {% if user.is_superuser or user.perfilusuario.tipo == 'CHEFE' %}
        <li class="nav-item">
          <a class="nav-link btn btn-primary text-white ms-2" href="{% url 'accounts:usuarios_list' %}">Gerenciar Usuários</a>
        </li>
        {% endif %}

      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            {{ user.get_full_name|default:user.username }}
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li class="dropdown-item text-muted">
              {{ user.perfilusuario.unidade.nome }}
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{% url 'accounts:alterar_senha' %}">
                Alterar senha
              </a>
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}">
                Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
